/* 侧边分栏面板 */
[data-type='wnd'][data-id] {
  min-height: 0%;
  margin: var(--custom-panel-distance);
  border-radius: var(--custom-border-radius);
}
/* 悬浮面板与面板标题栏 */
.block__popover .block__icons,
.layout-tab-container .block__icons {
  height: var(--custom-panel-title-height);
  min-height: var(--custom-dock-width);
}
.block__popover .block__icons .counter,
.layout-tab-container .block__icons .counter {
  /* 计数器 */
  margin: 0;
  color: var(--b3-theme-on-background);
  background-color: transparent;
  outline: 1px solid;
}
.block__popover .block__icons .b3-text-field,
.layout-tab-container .block__icons .b3-text-field {
  /* 关键字过滤 */
  line-height: 22px;
}
.block__popover .plugin-sample__custom-tab,
.layout-tab-container .plugin-sample__custom-tab {
  background-color: unset;
}
.layout-tab-container .layout__tab--active .block__icons {
  /* 焦点所在面板的标题栏 */
  background-color: var(--b3-list-hover);
}
/* 设置标签页面板 */
.config__tab-container {
  background-color: transparent;
}
